#wrapper {
	max-width: 90%;
	border: solid black 3px;
	margin: 0 auto;
	background-color: white;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #D9D9D9;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 64px;
	font-family: 'Bungee Shade', cursive;
}

.column {
	float: left;
	width: 32%;
	padding: 5px;
}

h2 {
	background-color: #025E73;
	color: white;
	padding: 5px;
	font-family: 'Bungee', cursive;
}

img {
	width: 200px;
	float: right;
	padding: 5px;
}

.clearfix:after {
	content:"";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.column2 {
	width: 48%;
}

.center {
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
}

a {
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

a:hover {
	color: #025e73;
}

a:visited {
	color: black;
}

ul {
	list-style: none;
	padding: 10px;
	width: 400px;
}

li {
	background-color: #8a8c4a;
	margin: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

nav {
	margin: 10px;
	text-align: right;
}